@page "/login"
@inject HttpClient Http
@inject NavigationManager Navigation
@using System.ComponentModel.DataAnnotations
@using Gotorz.Services
@inject ITokenService TokenService
@rendermode InteractiveServer

<EditForm Model="loginModel" OnValidSubmit="HandleLogin" FormName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="loginModel.Username" placeholder="Email" />
    <InputText type="password" @bind-Value="loginModel.Password"  placeholder="Password"/>
    <button type="submit">Log in</button>
</EditForm>
<br />
<p>Username: @loginModel.Username</p>
<p>Password: @loginModel.Password</p>

@code {
    private LoginModel loginModel = new();

    private async Task HandleLogin()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:7039/api/Auth/Login", loginModel);
        if (response.IsSuccessStatusCode)
        {
            var token = await response.Content.ReadAsStringAsync();
            await TokenService.StoreTokenAsync(token);  // Currently session storage
            Http.DefaultRequestHeaders.Clear();
            Http.DefaultRequestHeaders.Authorization = 
                new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
            Navigation.NavigateTo("/checklogin");
        }
    }

    public class LoginModel
    {
        [Required]
        [EmailAddress(ErrorMessage = "Please enter a valid email address.")]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
    }
}